<form> 

<h1>Name: <input type="text" value="<%= @events.name%>">
 </h1>
 <h1>Date: <input type="date" value="<%= @events.date%>">
 </h1>
<h1>Location: <input type="text" value="<%= @events.location%>">
 </h1>
<input type="button" value="Update">
</form>

<a style="margin-right: 20px;" href="/events"> Events Dashboard </a>



